@import "../../../mixins.scss";

.profile_headerss {
    // margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50vh;
    flex-direction: column;
    color: white;


    @include md {
        // flex-direction: row;
        // align-items: start;
        // min-height: 90vh;
        // max-height: 500px;
        margin-bottom: 40vh;
    }

    @include lg {
        gap: 2%;
    }
}

.photoContentt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;

    @include md {
        margin-top: 10%;

    }

    .userPhoto {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: rgb(21, 33, 91);
        box-shadow: 0 0 10px 0 rgba(31, 244, 12, 0.91);
    }

    .inputButtons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        width: 100%;
        // flex-direction: column;

        // @include md {
        //     flex-direction: row;
        //     gap: 10px;
        // }

        .subButton {
            background: #04a386;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background: #05362d;

            }
        }

        .inputBtn {
            color: rgb(120, 238, 36);
        }
    }
}

.middle {
    h3 {
        margin-bottom: 30px;
    }

    .notMatched {
        color: red;
        text-align: center;
    }

    .passSubButton {
        margin-bottom: 30px;
    }
}

.userSettings {
    color: rgb(103, 17, 223);

    #namee,
    #emaill {
        color: rgb(255, 255, 255);
        min-width: 90%;
        background-color: rgb(12, 30, 107);
    }

}

.note {
    color: red;
    margin: 30px;
}