@import "../../mixins.scss";

.profile_headers {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.profile_content {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .userPhoto {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: rgb(21, 33, 91);
        box-shadow: 0 0 10px 0 rgba(31, 244, 12, 0.91);
        // margin-bottom: 20px;
        // Add more styles for photo if needed
    }

    .inputBtn {
        margin-top: 2rem;
        color: rgb(120, 238, 36);
        margin-bottom: 50px;
    }
}