@import "../../../mixins.scss";

.profile_headers {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 90%;
    flex-direction: column;
    color: white;


    @include md {
        flex-direction: row;
        align-items: start;
        min-height: 50vh;
    }

    @include lg {
        // justify-content: start;
        gap: 10%;
    }
}

.photoContent {
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;

    @include md {
        margin-top: 20%;

    }

    .userPhoto {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: rgb(21, 33, 91);
        box-shadow: 0 0 10px 0 rgba(31, 244, 12, 0.91);
        // margin-bottom: 20px;
        // Add more styles for photo if needed
    }

    .inputButtons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        // flex-direction: column;

        // @include md {
        //     flex-direction: row;
        //     gap: 10px;
        // }

        .subButton {
            background: #04a386;

            &:hover {
                background: #05362d;

            }
        }

        .inputBtn {
            // margin-top: 2rem;
            color: rgb(120, 238, 36);
        }
    }
}

.middle {

    h3 {
        margin-bottom: 30px;
    }

    #email,
    #name {
        background: rgb(163, 176, 233);
    }

    #currentPassword,
    #confirmNewPassword,
    #NewPassword {
        color: white;
        width: 18rem;
        background-color: rgba(6, 6, 6, 0.9);
    }

    .notMatched {
        color: red;
        text-align: center;
    }

    .passSubButton {
        margin-bottom: 30px;
    }
}

// @include lg {
.userSettings {
    color: rgb(103, 17, 223);
}

// }