@import "../../mixins.scss";

.img {
    opacity: 50%;
    // position: absolute;
    // max-width: 100%;
    // overflow: hidden;
    // background-image: url('./main-bg.jpg') / 0.5;

    @include sm {
        .img {
            min-height: 100vh;
        }

    }

    @include md {
        .img {
            min-height: 100vh;
        }
    }
}

#get-started {
    padding-top: 100px;
    min-height: 700px;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url('./main-bg.jpg');
    background-attachment: fixed;
    color: white;

    .get-started-main {
        .p1 {
            font-size: 3rem;
        }

        .p2 {
            font-size: 2rem;
        }



        min-height: screen;
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 5rem;

    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .p3 {
            font-size: 1.5rem;
            margin-top: 4rem;
        }
    }

    form div.mailInput {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        // margin: auto;



        .input {
            width: calc(100% - 100px);
            height: 50px;
            background-color: white;
            outline: 0;
            border: 0;
            border-radius: 30px 0 0 30px;
            padding: 0 15px;
            font-size: 14px;
            margin-top: 1rem;

            @include md {
                width: calc(100% - 150px);
                height: 60px;
                font-size: 20px;
                padding: 0 30px;
            }
        }

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;

            .icon {
                margin-top: 2px;

            }
        }

        button {
            width: 100px;
            height: 50px;
            background: var(--gradient);
            color: white;
            outline: 0;
            border: 0;
            border-radius: 0 30px 30px 0;
            font-size: 16px;
            cursor: pointer;
            // margin-top: 3.59rem;

            @include md {
                width: 150px;
                height: 60px;
                font-size: 18px;
            }
        }

        @include sm {
            flex-direction: column;
        }

        @include md {
            flex-direction: row;
        }
    }

}