@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
@import './mixins.scss';

:root {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --black: #091430;
    --black2: #470e1a;
    --black3: #071121;
    --black-lighter: #911c57;
    --black-light: #77174a;
    --pink: #da2f68;
    --orange: #f89e00;
    --gradient: linear-gradient(98.37deg, #2df800 0.99%, #225ac3 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
}


::-webkit-scrollbar {
    display: none;
}

@include md {
    ::-webkit-scrollbar {
        display: block;
        width: 4px;
        scroll-behavior: smooth;
    }

    body::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgb(112, 25, 122);
        background: -moz-linear-gradient(205deg, rgba(112, 25, 122, 1) 0%, rgba(5, 76, 197, 1) 20%, rgba(145, 2, 210, 1) 37%, rgba(105, 81, 178, 1) 44%, rgba(70, 148, 151, 1) 59%, rgba(145, 2, 210, 1) 79%, rgba(0, 212, 255, 1) 98%);
        background: -webkit-linear-gradient(205deg, rgba(112, 25, 122, 1) 0%, rgba(5, 76, 197, 1) 20%, rgba(145, 2, 210, 1) 37%, rgba(105, 81, 178, 1) 44%, rgba(70, 148, 151, 1) 59%, rgba(145, 2, 210, 1) 79%, rgba(0, 212, 255, 1) 98%);
        background: linear-gradient(205deg, rgba(112, 25, 122, 1) 0%, rgba(5, 76, 197, 1) 20%, rgba(145, 2, 210, 1) 37%, rgba(105, 81, 178, 1) 44%, rgba(70, 148, 151, 1) 59%, rgba(145, 2, 210, 1) 79%, rgba(0, 212, 255, 1) 98%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#70197a", endColorstr="#00d4ff", GradientType=1);
        scroll-behavior: smooth;

    }

}

.skeleton {
    position: relative;
    overflow: hidden;
    background-color: #480c75;

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        background-image: linear-gradient(90deg,
                rgba(#631949, 0) 0,
                rgba(#741466, 0.2) 20%,
                rgba(#631963, 0.5) 60%,
                rgba(#681232, 0));
        animation: shimmer 2s infinite;
        content: "";
    }

    @keyframes shimmer {
        100% {
            transform: translateX(100%);
        }
    }
}